apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: panda-secret
  namespace: flux-system
spec:
  interval: 5m
  targetNamespace: apps
  releaseName: panda-secret
  chart:
    spec:
      chart: ./infra/helm/panda-secret
      sourceRef:
        kind: GitRepository
        name: panda-secret
        namespace: flux-system
  values:
    secret:
      pandaSecret: "Bamboo is just spicy grass"