apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csv-uploader
  namespace: flux-system
spec:
  interval: 5m
  targetNamespace: csv-uploader
  releaseName: csv-uploader
  chart:
    spec:
      chart: ./infra/helm/panda-secret
      sourceRef:
        kind: GitRepository
        name: csv-uploader
        namespace: flux-system
  values:
    secret:
      pandaSecret: "Bamboo is just spicy grass"