apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespaces/namespaces.yaml

  - sources/helm-repositories.yaml

  - releases/gateway-api-crds.yaml

  - releases/cert-manager.yaml
  - releases/external-dns.yaml
  - releases/aws-load-balancer-controller.yaml
  - releases/karpenter.yaml
  - releases/nginx-gateway-fabric.yaml

  - releases/csv-uploader.yaml
