---
apiVersion: v1
kind: Namespace
metadata:
  name: karpenter
  labels:
    app.kubernetes.io/name: karpenter
---
apiVersion: v1
kind: Namespace
metadata:
  name: nginx-gateway
  labels:
    app.kubernetes.io/name: nginx-gateway
---
apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    app.kubernetes.io/name: apps
