replicaCount: 1

secret:
  pandaSecret: "Dev pandas eat debug logs for breakfast"

service:
  type: ClusterIP
  port: 8080

autoscaling:
  enabled: false

httpRoute:
  enabled: false

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: pandas.local
      paths:
        - path: /
          pathType: Prefix
