apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: panda-secret
  namespace: flux-system
spec:
  interval: 5m
  targetNamespace: apps
  releaseName: panda-secret
  chart:
    spec:
      chart: ./infra/helm/panda-secret
      sourceRef:
        kind: GitRepository
        name: csv-uploader
        namespace: flux-system
  values:
    secret:
      pandaSecret: "Bamboo is just spicy grass"
    service:
      port: 8080
    httpRoute:
      enabled: true
      hostname: pandas.souzaxx.dev
      gateway:
        name: main
        namespace: nginx-gateway
    nodeSelector:
      nodepool: apps
    tolerations:
      - key: nodepool
        operator: Equal
        value: apps
        effect: NoSchedule
